* {
    margin: 0;
    font-family: Rosarivo;
    box-sizing: border-box;
	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
}
body{
    background: rgba(246, 246, 246, 1);
}
.right{
    display: flex;
    flex-direction: column;
}
.main {
    display: flex;
    margin: 30px 50px 30px 50px;
}
.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-right: 80px;
}

.types {
    position: sticky;
    top: 30px;
    left: 10px;
    height: 90vh;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 255, 255, 1);
    border-radius: 20px;
    padding: 60px 0 60px 0;
    border:5px solid white;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
}

.types button {
    color: rgba(102, 80, 80, 1);
}
.noActive {
    padding: 25px;
    background-color: rgba(218, 198, 182, 0);
    border: none;
    cursor: pointer;
}
.noActive img {
    display: none;
}

.active {
    background-repeat: no-repeat;
    background-color: rgba(218, 198, 182, 1);
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px 0 10px 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.active img {
    display: flex;
    width: 30px;
}


h3{
    font-size:16px;
    color: rgba(72, 52, 49, 1);
    width: 400;
}
p{
    font-size:20px;
}
.orderStatus{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 60px;
    cursor: pointer;
    border: 0;
    background: none;
}

.orderImg{
    width: 60px;
    height: 60px;
    position: relative;
    top: 0;
    right: 0;
}

.orderStatus a {
    background-color: rgba(205, 65, 38, 0.8);
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    color: white;
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 60px;
    width: 60px;
}

.orderStatus:hover .back{
    opacity: 1;
}

.front
{
    position: relative;
    top: 18px;
    left: 0;
    width:30px;
    height: auto;
}

.drinks {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.drink {
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 1);
    border-radius: 20px;
    margin: 15px 0 15px 0;
    padding: 15px;
    border:4px solid white;
    gap: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
}

.drink:focus {
    border:4px solid rgba(218, 198, 182, 1);
    border-radius: 20px;
}

.drink img{
    width: 100%;
    border-radius: 10px;
}
.cost{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 5px;
    background: rgba(218, 218, 218, 1);
    border-radius: 8px;
    width: 75px;
    height: 25px;
    padding-left: 15px;
}

.cost p {
    font-size: 15px;
    font-weight: 700;
}

.addToOrder{
    background: rgba(205, 65, 38, 0.8);
    border-radius: 8px;
    border: none;
    height: 100%;
    width: 25px;
}


.search {
    height: 50px;
    background-color: rgba(218, 218, 218, 1);
    border-radius: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
}

.search input, .search button {
    border: none;
    outline: none;
    background: transparent;
}
.search input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
    font-size: 18px;
}

.search button {
    margin-right: 10px;
    cursor: pointer;
}

.searchImg {
    width: 20px;
}

.order {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.coffeeImg {
    height: 100vh;
}





